.page {
    &-login {
        height: 100vh;

        .el-main {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.el-carousel {
    &__indicators {
        &--outside {
            button {
                background-color: var(--el-color-success);
            }
        }
    }
}